<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA" />
    
    <!-- Android 12+ Device Owner Provisioning Permissions -->
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SYSTEM_UPDATES" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_APPS_CONTROL" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_BLOCK_UNINSTALL" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_DEBUGGING_FEATURES" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_DEFAULT_SMS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_FACTORY_RESET" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_KEYGUARD" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCALE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_MICROPHONE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_MODIFY_USERS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_NETWORK_LOGGING" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PACKAGE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PHYSICAL_MEDIA" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PRINTING" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PRIVATE_DNS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PROFILE_INTERACTION" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_RESET_PASSWORD" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_RUNTIME_PERMISSIONS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SAFE_BOOT" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SCREEN_CONTENT" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SECURITY_LOGGING" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SMS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SUPPORT_MESSAGE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SUSPEND_PERSONAL_APPS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_TIME" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_USB_DATA_SIGNALLING" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_USB_FILE_TRANSFER" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_USERS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_WIFI" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_WINDOWS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_WIPE_DATA" />
    
    <!-- Required for QR code provisioning -->
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ORGANIZATION_IDENTITY" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_INSTALL_UNKNOWN_SOURCES" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity
        android:name=".AdminPolicyComplianceActivity"
        android:exported="true"
        android:enabled="@bool/provision_mode_compliance_enabled"

        android:theme="@style/Theme.AppCompat"
        android:permission="android.permission.BIND_DEVICE_ADMIN">
        <intent-filter>
            <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE"/>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>
      <activity
        android:name=".ProvisioningModeActivity"
        android:enabled="@bool/provision_mode_compliance_enabled"
        android:exported="true"
        android:permission="android.permission.BIND_DEVICE_ADMIN"

        android:theme="@style/Theme.AppCompat">
        <intent-filter>
          <action android:name="android.app.action.GET_PROVISIONING_MODE" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>


      <!-- Device Admin Receiver -->
      <receiver
        android:name=".AppDeviceAdminReceiver"
        android:permission="android.permission.BIND_DEVICE_ADMIN"
        android:exported="true">
        <meta-data
          android:name="android.app.device_admin"
          android:resource="@xml/device_admin_policies" />
        <intent-filter>
          <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
          <action android:name="android.intent.action.BOOT_COMPLETED" />
          <!-- Android 12+ Provisioning Actions -->
          <action android:name="android.app.action.PROVISIONING_SUCCESSFUL" />
          <action android:name="android.app.action.MANAGED_PROFILE_PROVISIONED" />
          <action android:name="android.intent.action.MANAGED_PROFILE_ADDED" />
        </intent-filter>
      </receiver>
    </application>
</manifest>
